/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


body {
  background-color: #1f2937;
}

/* Navbar */
.navbar {
  background-color: #1f2937;
  color: #ffffff;
  padding: 15px 25px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar h2 {
  font-size: 22px;
}



/* Controls (Category & Sort) */
.controls {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;                    
  padding: 15px 25px;
  margin: 30px 20px 2px 20px;
  background-color: #102d45;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.08);
}

.controls select {
  flex: 1;  
  height: 52px;
  padding: 0px 18px;
  font-size: 14px;
  color: #ffffff;
  border-radius: 10px;
  border: 2px solid black;
  background-color: #87837f;
  cursor: pointer;
}

/* Product Container (Flexbox Grid) */
.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
  padding: 30px 40px;
}

/* Product Card */
.category {
  width: 300px;

  background-color: #9bbbd1;
  border-radius: 10px;
  padding: 18px;
  text-align: center;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.category:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

/* Product Image */
.category img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  background-color: #f1f5f9;
  padding: 10px;
  border-radius: 8px;
}

/* Category Label */
.category span {
  display: block;
  margin-top: 10px;
  font-size: 13px;
  color: #051621;
  font-weight: 600;
}

/* Product Name */
.category h3 {
  margin: 8px 0;
  font-size: 18px;
  color: #111827;
}

/* Rating */
.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  margin: 8px 0;
}

.rating i {
  color: gold;
  font-size: 16px;
}

.rating-text {
  margin-left: 5px;
  font-size: 14px;
  color: #374151;
}

/* Price */
.category .fa-indian-rupee-sign {
  color: #16a34a;
  font-size: 14px;
  margin-right: 4px;
}

.category {
  font-size: 16px;
  font-weight: bold;
}

/* Add Button */
.category p {
  margin-top: 12px;
  padding: 8px;
  background-color: #2563eb;
  color: #ffffff;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

.category p:hover {
  background-color: #1e40af;
}

/* Responsive */
@media (max-width: 768px) {
  .product {
    padding: 20px;
  }
}
